<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<h4>Total <%= link_to 'Products',  [:admin, :products] %> in database: <%= @products.all.count %></h4>


<h4>Total <%= link_to 'Categories',  [:admin, :categories] %> in database: <%= @categories.all.count %></h4>

